@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Merriweather&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FEFBF3;
}

.header {
    background-color: #79B4B7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner a{
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
}

.banner a:visited, .banner a:active, .banner a {
    color: #222222;
}

.banner {
    display: flex;
    align-items: baseline;
    padding: 15px 0px;
}

.banner img {
    width: 45px;
    padding-right: 10px;
}

.heading {
    color: #43707d;
    margin-bottom: 5px;
    font-family: 'Merriweather', serif;
    font-size: 12px;
    text-decoration: underline;
}

.nav {
    width: 100%;
    padding: 5px 0px;
    border-top: 1px solid #43707d;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form * {
    margin: 5px;
    width: 200px;
    height: 20px;
}

form select {
    width: 205px;
}

form input[type=submit] {
    width: 75px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #3d6582;
    background-color: #79B4B7;
}

form input[type=number] {
    width: 50px;
}

.sql-table {
    width: 75%;
}

.sql-table table{
    border-collapse: collapse;
    border: solid 1px #F8F0DF;
    width: 100%;
}

.sql-table table th, td {
    padding: 5px;
    text-align: center;
}

.sql-table table th {
    color: #444444;
}

.sql-table table tr:nth-child(even) {
    background-color: #F8F0DF;
}

.sql-table table tr:nth-child(odd) {
    background-color: #FEFBF3;
}

.movie_element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F0DF;
    color: #222222;
    padding: 20px;
    border: 1px solid #79B4B7;
    border-radius: 10px;
}

.movie_element td {
    font-size: 18px;
    text-align: left;
}

.movie_element table tr:first-child {
    font-size: 20px;
    text-align: center;
    color: #43707d;
}

.movie_element_form {
    display: flex;
}

.error {
    color: red;
}

.info {
    color: blue;
}