@(collections: List[MovieCollection])(implicit session: play.mvc.Http.Session)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movies</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        @header()
        <div class="content">
            <div>
                <form method="GET" action="/collections/create">
                    <input type="text" name="name" placeholder="Create a new collection"/>
                    <input type="submit" value="Create"/>
                </form>
                <form method="GET" action="/collections/delete">
                    <select name="collectionid">
                        <option value=-1>----</option>
                        @for(col <- collections) {
                            <option value=@col.getCollectionID>@col.getName</option>
                        }
                    </select>
                    <input type="submit" value="Delete"/>
                </form>
            </div>
            <div class="sql-table">
                <table>
                    <tr>
                        <th>Collection Name</th>
                        <th>Number of Movies</th>
                        <th>Total Length (hour:min)</th>
                    </tr>
                    @for(col <- collections) {
                        <tr>
                            <td><a href=@{"/collections/"+col.getCollectionID}>@col.getName</a></td>
                            <td>@col.getTotal</td>
                            <td>@col.getLengthFormat</td>
                        </tr>
                    }
                    <tr>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
