@()(implicit session: play.mvc.Http.Session)

<div class="header">
    <div class="banner">
        <img src="@routes.Assets.versioned("images/movieicon.png")">
        <a href="/"><h1>Movies</h1></a>
    </div>
    <div class="nav">
        <ul>
            @session.get("user").map{user =>
                <li><a href="/logout">Logout</a></li>
            }.getOrElse{
                <li><a href="/signin">Sign in</a></li>
            }
            <li><a href="/">Home</a></li>
            <li>Search Movies</li>
            <li>Collections</li>
            <li>Profile</li>
        </ul>
    </div>
</div>