@*
* This template handles an individual movie's page, including its play button,
* being able to rate it, and its general information.
*@

@(request: Http.Request)(movie: Movie)(message: util.Message)(collections: List[MovieCollection])(implicit session: play.mvc.Http.Session)

<!DOCTYPE html>
<html lang="en">
    <head>
        @if(movie != null) {
            <title>@movie.getTitle</title>
        } else {
            <title>Movie not found!</title>
        }

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>

    <body>
        @header()

        <div class="content">
            @movieview(request)(movie)(message)
            @if(collections != null) {
                <form method="GET" action="/collections/movie/add">
                    <label>Add to Collection</label>
                    <select name="collectionid">
                        <option value=-1>----</option>
                        @for(col <- collections) {
                            <option value=@col.getCollectionID>@col.getName</option>
                        }
                    </select>
                    <input type="hidden" value="@movie.getMovieID" name="movieid"/>
                    <input type="submit" value="Add"/>
                </form>
            }
        </div>
    </body>