@import java.util
@(user : User)(followers : Integer)(following : Integer)(collections : Integer)(top10 : util.List[Movie])(implicit session: play.mvc.Http.Session)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movies</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>

    <body>
        @header()
        <div class="content">
            @if(user != null) {
                <p style="font-size:24px"><b>@user.getUsername()'s Profile</b></p>
                <br>
                <p><u>Followers:</u> @followers &emsp;<u>Following:</u> @following</p>
                <br>
                <p><u>Collections:</u> @collections</p>
                <br>
                <p><b>Top 10 Movies(Ranked by Most Watches):</b></p>
                <br>
                <div class="sql-table">
                    <table>
                        <tr>
                            <th>Rank</th>
                            <th>Title</th>
                            <th>Length</th>
                            <th>MPAA</th>
                        </tr>
                        @for(index <- 1 until (top10.size + 1)) {
                            <tr>
                                <td>@index)</td>
                                <td>@top10(index - 1).getTitle</td>
                                <td>@top10(index - 1).getLength</td>
                                <td>@top10(index - 1).getMpaa</td>
                            </tr>
                        }
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </table>
                </div>
            } else {
                <p>Cannot view profile: user not signed in</p>
            }
        </div>
    </body>
</html>