@(user : User)(followers : Integer)(following : Integer)(implicit session: play.mvc.Http.Session)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movies</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>

    <body>
        @header()
        <div class="content">
            <p>@user.getUsername()</p>
            <p>Followers: @followers</p>
        </div>
    </body>
</html>