@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(message: util.Message)(implicit session: play.mvc.Http.Session)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign in</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        @header()
        <div class="content">
            <div class="signin">
                <form action="/signin" method="POST" enctype="application/x-www-form-urlencoded">
                    <label>Username:</label>
                    <input type="text" name="username"/>
                    <label>Password:</label>
                    <input type="password" name="password"/>
                    <input type="submit"/>
                </form>
                <span class="error">@message.getText()</span>
                <a href="/register">Create an account</a>
            </div>
        </div>
    </body>
</html>
