@(users: LinkedHashMap[User, Boolean])(query: String)(implicit session: play.mvc.Http.Session)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movies</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        @header()
        <div class="content">
            @if(query != "") {
                <p>Showing @users.size results for '@query'</p>
            }
            <form method="GET" action="/users">
                <input type="text" name="q" placeholder="Search for email"/>
                <input type="submit" value="Search"/>
            </form>
            <div class="sql-table">
                <table>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    @for((user, isFollowing) <- users.asScala) {
                        <tr>
                            <td>@user.getUsername</td>
                            <td>@user.getEmail</td>
                            <td>
                                @if(isFollowing){
                                    <a href=@{"/users/unfollow?followedid="+user.getUserID}>Unfollow</a>
                                }else {
                                    <a href=@{"/users/follow?followedid="+user.getUserID}>Follow</a>
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
